.one{
    height: 550px;
    width: 500px;
}

.two{
    height: 550px;
    width: 500px;
}
.three{
    height: 550px;
    width: 500px;
}
   
.four{
    height: 550px;
    width: 500px;

}
.five{
    height: 400px;
    width: 500px;
}
.six{
    height: 400px;
    width: 500px;
}
.seven{
    height: 400px;
    width: 500px;
}
.eight{
    height: 400px;
    width: 500px;
}
.card1{
    background-size: cover;
   
}

footer{
    background-color: #ebe7e7;
    padding: 10px;
    text-align: center;
    color: white;
    height: 500px;
 

}
.family{
  font-family: serif;
  font-weight: 700;
  

}
.rows{
    margin-left: 130px;
}
.row1{
    margin-left: 40px;
}






















